.about-service-section {
    padding: 100px 0px;
    .container {
        max-width: 1330px;
        margin: 0 auto;
        padding: 0px;

        .row {
            padding: 0px !important;
            --bs-gutter-x: 0 !important;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 0px !important;
        }
    }

    .about-service-wrapper {
        .about-service-text {
            max-width: 588px;
            margin: 0 auto;

            h2 { 
                margin-bottom: 20px;
            }
        }

        .about-service-img {
            max-width: 100%;
            position: relative;

            .bottom-img {
                height: auto;
                max-width: 420px;
                margin-left: 100px;
            }

            .top-img {
                right: 2%;
                bottom: -26%;
                height: auto;
                max-width: 250px;
                position: absolute;
            }
        }


        .about-service-two {
            padding-top: 100px;
            max-width: 1275px;
            max-height: 590px;
            position: relative;

            img {
                max-width: 700px;
                max-height: 520px;
            }

            .about-two-text {
                max-width: 706px;
                max-height: 430px;
                position: absolute;
                bottom: -20%;
                right: -3%;
                background: #FFFFFF;
                border-radius: 20px;
                overflow: hidden;
                filter: drop-shadow(8px 10px 60px rgba(0, 0, 0, 0.08));

                h2 { 
                    padding: 30px 50px 20px 50px;
                }

                p { 
                    padding: 0 50px 50px 50px;
                }
            }
        }
    }
}