/* 1. Theme default css */

// COLORS
$black:#000;
$red:#EA1C2D;
$white:#FFFFFF;
$textColor:#222222;
$dark_black:#666666;

// FONT SIZE
$inter:  'Inter', sans-serif;

body {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-style: normal;
    font-family: $inter;
}

h1, .h1 { font-size: 64px; line-height: 83px; 
    &.fz-lg { font-size: 74px; line-height: 90px; }
}
h2, .h2 { font-size: 56px; line-height: 74px; }
h3, .h3 { font-size: 44px; line-height: 67px; }
h4, .h4 { font-size: 38px; line-height: 50px; }
h5, .h5 { font-size: 32px; line-height: 39px; } 
h6, .h6 { font-size: 28px; line-height: 34px; } 

@media screen and (min-width: 1300px) and (max-width: 1440px) {

    h1, .h1 { font-size: 64px !important; line-height: 83px !important; 
        &.fz-lg { font-size: 64px !important; line-height: 74px !important; }
    }
    h2, .h2 { font-size: 42px !important; line-height: 52px !important; }
    h3, .h3 { font-size: 36px !important; line-height: 46px !important; }   
    h4, .h4 { font-size: 30px !important; line-height: 40px !important; }   
    h5, .h5 { font-size: 26px !important; line-height: 36px !important; }   

    .student-banner {

        &__content {
            max-width: 793px !important;
    
            h1 {
                margin-bottom: 20px;
            }
    
            p {
                margin-bottom: 30px;
            }
        }

        &__media {
            right: -40px !important;
        }

    }

    .student-banner .hero-section .hero-text h3 {
        text-transform: inherit;
    }

    .have-question-section .have-question-wrapper .have-question-left {
        width: 1195px !important;
    }

    .have-question-section .have-question-wrapper .have-question-left .have-question-img {
        max-width: 430px;
        top: -10% !important;

        img {
            height: auto;
            max-width: 100%;
        }
    }

    .team-section .team-wrapper .team .team-info .team-info-text h6{
        font-size: 18px !important;
    }

    .student-banner .hero-text {
        max-width: 1025px;
        margin-left: auto;
        margin-right: auto;
    }

    .features-section .feature-wrapper .feature-heading h2 {
        max-width: 470px;
    }

    .feature h5 {
        max-width: 340px;
    }

    .step-section .step-heading h2 {
        max-width: 582px;
        margin-left: auto;
        margin-right: auto;
    }

    .team-header h2 {
        max-width: 518px;
        margin-left: auto;
        margin-right: auto;
    }

    .student-review-section .student-review-header h2 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .for-student-banner-section .student-banner-wrapper .student-banner-top .banner-content h1 {
        max-width: 595px !important;
    }

    .for-student-banner-section .student-banner-wrapper .student_banner-bottom h2 {
        max-width: 460px !important;
    }

    .for-student-service-section h2 {
        max-width: 419px !important;
    }

    .professional-banner-section .professional-banner-middle .middle-left-img .left-img-one, .professional-banner-section .professional-banner-bottom .bottom-left-img .bottom-left-img-one {
        max-width: 400px !important;
        max-height: 399px !important;
    }

    .professional-banner-section .professional-banner-middle .middle-left-img .left-img-two, .professional-banner-section .professional-banner-bottom .bottom-left-img .bottom-left-img-two {
        right: -2% !important; 
        max-width: 270px !important;
        max-height: 265px !important; 
    }

    .professional-banner-section .professional-banner-bottom .bottom-left-img .bottom-left-img-two { 
        left: -15% !important;
        bottom: -19% !important; 
    }

    .professional-banner-section .professional-banner-bottom .bottom-left-img {
        max-width: 480px !important; 

        img {
            max-width: 100%;
        }
    }

    .professional-banner-section .professional-banner-middle {
        margin: 130px auto !important;
    }

    .professional-banner-section .professional-banner-bottom {
        margin: 0 auto 160px auto !important;

        + .professional-banner-bottom {
            margin: 0 auto 130px auto !important;
        }
    }

    .professional-offer-section .offer-img-wrapper .offer-bottom-img {
        max-width: 470px !important; 
    }

    .professional-offer-section .offer-img-wrapper .offer-top-img {
        right: -6% !important;
        bottom: -25% !important; 
        max-width: 290px !important; 
    }
}

@media screen and (max-width: 1400px) {

    h1, .h1 { font-size: 50px !important; line-height: 60px !important; 
        &.fz-lg { font-size: 56px !important; line-height: 66px !important; }
    }
    h2, .h2 { font-size: 45px !important; line-height: 55px !important; }
    h3, .h3 { font-size: 38px !important; line-height: 48px !important; }
    h4, .h4 { font-size: 32px !important; line-height: 39px !important; }
    h5, .h5 { font-size: 28px !important; line-height: 34px !important; } 
    h6, .h6 { font-size: 24px !important; line-height: 30px !important; } 
}


@media screen and (max-width: 1199px) {

    h1, .h1 { font-size: 45px !important; line-height: 55px !important; 
        &.fz-lg { font-size: 50px !important; line-height: 60px !important; }
    }
    h2, .h2 { font-size: 38px !important; line-height: 48px !important; }
    h3, .h3 { font-size: 32px !important; line-height: 49px !important; }
    h4, .h4 { font-size: 28px !important; line-height: 34px !important; }
    h5, .h5 { font-size: 24px !important; line-height: 30px !important; } 
    h6, .h6 { font-size: 20px !important; line-height: 28px !important; } 
}

@media screen and (max-width: 991px) {

    h1, .h1 { font-size: 38px !important; line-height: 48px !important; 
        &.fz-lg { font-size: 45px !important; line-height: 55px !important; }
    }
    h2, .h2 { font-size: 32px !important; line-height: 49px !important; }
    h3, .h3 { font-size: 28px !important; line-height: 34px !important; }
    h4, .h4 { font-size: 24px !important; line-height: 30px !important; }
    h5, .h5 { font-size: 22px !important; line-height: 26px !important; }  
}

@media screen and (max-width: 767px) {

    h1, .h1 { font-size: 33px !important; line-height: 43px !important; 
        &.fz-lg { font-size: 38px !important; line-height: 48px !important; }
    }
    h2, .h2 { font-size: 30px !important; line-height: 40px !important; } 
}

@media screen and (max-width: 575px) {

    h1, .h1 {

        &.fz-lg { font-size: 35px !important; line-height: 45px !important; }
    } 
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
    margin-bottom:0;
    font-weight: 600;
    font-family: $inter;
    text-transform: capitalize;

    a {
        color: inherit;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

.primary_button, input[type="submit"] {
    border: none;
    outline: none;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    background: $red;
    line-height: 22px; 
    padding: 20px 32px;
    border-radius: 10px; 
    display: inline-block;
    text-transform: capitalize;
}

p {
    color: #6D6E71;
}

ul {
    margin: 0px;
    padding: 0px;

    li {
        list-style: none;
    }
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

a, .button, button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}

a:focus, .button:focus {
    outline: none;
    text-decoration: none;
}

button{cursor: pointer}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: #FBBA42;
  text-decoration: none;
}

a, button {
  color: #1696e7;
  outline: medium none;
}

input:focus, textarea:focus, :focus{
  outline: 0
}

button:focus {
  outline: 0 none;
}

hr {
    padding: 0;
    margin: 30px 0;
    border-top: 0 none;
    border-bottom: 1px solid #eceff8;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
    color: $white;
    text-shadow: none;
    background: #d6b161;
}
::selection, ::-moz-selection {
    color: $white;
    text-shadow: none;
    background: #444;
}
*::placeholder, *::-moz-placeholder {
    opacity: 1;
    font-size: 14px;
    color: #555555;
}

.bg-ash { background-color: #222222; }
.bg-light-grey { background-color: #F6F6F6; }
.bg-grey { background-color: #333333;}
.bg-light-dark{ background-color: #2E2E2E; }


/**
Please replace the following css with correct scss files 
**/

.feature {
    width: 500px;
    padding: 30px;
    margin: 15px 0px;
    max-height: 620px;
    border-radius: 16px;

    p {   
        margin: 0;
        // font-size: 16px;
        // line-height: 26px;
        padding: 20px 0; 
    }

    img {
        width: 95%;
    }
}

.step {
    margin: 20px;
    max-width: 303px;
    min-height: 539px;
    background: $white;
    border-radius: 16px;
    padding: 10px 20px;

    h2 {
        width: 100%; 
        font-size: 52px;
        font-weight: 500;
        line-height: 62px;
        text-align: right;
        color: rgba(234, 28, 45, 0.1);
    }

    .step-img {
        width: 74px;
        height: 74px;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        transition: all 1s ease;
        
        img {
            width: 70%;
            height: 70%;
            margin: 0 auto;
            transition: all 1s ease;
        }

        &:hover {
            img {
                margin-bottom: 20px;
            }
        }
    }

    h6 {
        margin: 20px 0px 6px 0px;
    }

    &:hover {
        filter: drop-shadow(8px 10px 60px rgba(0, 0, 0, 0.08));
    }
}





