.have-question-section {
    width: 100%;
    margin: 110px 0px;

    .container-fluid {
        padding: 0px;
    }

    .have-question-wrapper {
        width: 100%;
        .have-question-left {
            width: 1290px;
            height: 532px;
            position: relative;
            background: #F4F4F4;
    
            .have-question-left-wrapper {
                max-width: 720px;
                height: 100%;
                margin: 0 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
     
                p{ 
                    font-size: 24px;
                    line-height: 40px; 
                    margin: 30px 0px 45px 0px;
                }
            }

            .have-question-img {
                position: absolute;
                right: -15%;
                top: -20%;
            }
        }
    }

    
}