.package-section {
    .package-wrapper {
        .package { 
            max-width: 630px;
            box-shadow: 10px 12px 60px rgba(0, 0, 0, 0.06);
            border-radius: 20px;
            padding: 0px 48px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 110px auto 110px auto;
            .package-top {
                text-align: center;
                padding: 30px 0px;
                border-bottom: 1px dashed #CCCCCC;
                img {
                    max-width: 265px;
                    height: auto;
                    margin: 0px auto 30px auto;
                }

                h2 {
                    margin-bottom: 20px;
                }

                h6 {
                    font-weight: 400;
                }
            }

            .package-body {
                padding: 0px 0px 40px 20px;
                h3 { 
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 38px;
                    text-transform: capitalize;
                    color: #EA1C2D;
                    margin: 30px 0px 10px 0px;
                }

                ul {
                    li {
                       
                        padding: 12px 0px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: -0.02em;
                        color: #6D6E71;
                        position: relative;
                        padding-left: 40px !important;

                        &::before{
                            left: 0;
                            font-size: 24px;
                            content: "\f058";
                            position: absolute;
                            font-family: 'Font Awesome 6 Free';
                        }
                    }
                }
            }

            button { 
                font-size: 16px;
                margin: 10px auto 60px auto !important;
            }
        }

        .package-text {
            max-width: 1000px;
            margin: 0 auto 110px auto;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            text-transform: capitalize;
            color: #6D6E71;

            span {
                color: #EA1C2D;
            }
        }
    }
}