.physician-about-section {
    padding: 110px 0;

    .container {
        max-width: 1350px;
        margin: 0 auto;
    }
    .physician-about-wrapper {
        width: 100%;
        margin: 0 auto -100px;

        .physician-about {
            max-width: 665px;
            margin: 0 0 100px;

            h2 { 
                padding-left: 17px;
            }

            ul {
                margin: 20px 0 0 20px;

                li {

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    
                    a {
                        padding: 15px;
                        display: block;
                        color: #6D6E71;
                        font-weight: 500;
                        border-radius: 10px;
                        
                        &:hover {
                            color: $red;
                            background: $white;
                            filter: drop-shadow(4px 6px 60px rgba(0, 0, 0, 0.06));
                        }
                    }
                }
            }

            .primary_button {
                margin-top: 30px;
                margin-left: 32px; 
            }
        }
    }
}