.privacy-policy-section {
    padding: 110px 0px;
    max-width: 950px;
    margin: 0 auto;
    .privacy-title {
        border-bottom: 1px solid #CCCCCC;

        p {   
            font-size: 16px;
            line-height: 26px;
            padding: 15px 0px 30px;
            text-transform: capitalize; 
        }
    }

    .privacy-top {
        padding: 20px 0px;
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #6D6E71;
            padding: 21px 0px;
        }
    }

    .privacy-body {

        .privacy-sub-title {
            margin-top: 50px;

            p { 
                padding: 15px 0px 0px 0px;

                span {
                    color: #EA1C2D;
                    text-transform: capitalize;
                }

                a {
                    color: $red;
                    transition: all .3s ease;

                    &:hover {
                        color: #6D6E71;
                    }
                }
            }
        }

        ul {
            list-style: disc;
            li {
                list-style: disc;
                list-style-position: inside; 
                padding: 16px 0px;
            }
        }
        p {
            list-style: disc;
            list-style-position: inside; 
            padding: 16px 0px;
        }
    }
}