.step-section {

    .step-heading { 
        max-width: 680px; 
        text-align: center;
        margin: 80px auto 50px auto;
    }

    .step-wrapper {
        width: 80%;
        display: grid;
        margin: 0 auto;
        align-items: start;
        padding-bottom: 0px;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        
        .step-one {

            .step-img {
                background: rgba(234, 28, 45, 0.1);
            }
        }

        .step-two {

            .step-img {
                background: rgba(143, 0, 255, 0.1);
            }
        }

        .step-three {
            
            .step-img {
                background: rgba(255, 3, 200, 0.1);
            }
        }
    }
}
