.student-review-section {
    @include CarouselSwiper;

    background-color: #F4F4F4;
    width: 100%;
    height: 1123px;
    padding: 60px 0 60px 0;

    .student-review-header {
        @include title;
    }

    .student-review-wrapper {
        width: 100%;
        min-height: 650px;
        .student-review {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 400px;
            min-height: 484px;
            padding: 33px;
            background-color: transparent;
            border-radius: 16px;
            position: relative;

            .student-img {
                width: 49px;
                height: 69px;
                margin: 18px 0 14px 0px;
                transition: all 1s ease;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                text-transform: capitalize;
                color: #666666;
                padding: 10px 0px 24px 0px;
            }

            h2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 34px;
                text-transform: capitalize;
                color: #000000;
            }

            h4 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-transform: capitalize;
                color: #6D6E71;
            }

            h3 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-transform: capitalize;
                color: #000000;
                padding: 16px 0px;
            }

            &:hover {
                background-color: #fff;
                box-shadow: rgba(149, 157, 165, 0.1) 0px 6px 18px;
                .student-img {
                    width: 106px;
                    height: 114px;
                } 
                ::after {
                    display: block;
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-left: 100px solid #fff;
                    border-bottom: 50px solid transparent;
                    position: absolute;
                    bottom: -10%;
                    left: 36%;
                    transform: translateX(-40%);
                    transform: rotate(90deg);
                }
            }
        }
    }
}