.team-section {
    @include CarouselSwiper;

    .team-header {
        max-width: 655px;
        margin: 60px auto;
        text-align: center;
    }
    
    .team-wrapper {
        width: 100%;
        margin-bottom: 60px;
        padding-bottom: 50px;

        .team {
            height: 450px;
            overflow: hidden;
            margin-right: 30px;
            position: relative;
            border-radius: 16px;
            max-width: calc(25% - 30px);

            img {
                width: fit-content;
                height: 100%;
                border-radius: 16px;
            }

            .team-info {
                bottom: 0;
                width: 100%;
                z-index: 11;
                height: 100%;
                padding: 17px;
                color: #0B0036;
                position: absolute;
                border-radius: 16px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.35%, #000000 104.5%);

                .team-info-text {
                    bottom: 5%;
                    position: absolute;

                    h5 {
                        color: $white;
                    }
    
                    span { 
                        display: block;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: #EBEAEA;
                    }
    
                    h6 { 
                        color: $white;
                        font-size: 18px;
                        margin-top: 20px;
                        line-height: 24px; 
                        margin-bottom: 6px;
                    }
    
                    p { 
                        font-size: 16px;
                        line-height: 26px;
                        text-transform: capitalize;
                        color: #EBEAEA;
                    }
                }
            }
        }
    }
}