@media screen and (max-width: 1400px) { 

    .student-banner { 

        &__content { 
            padding: 120px 0 190px;
            max-width: 670px !important;

            h1 {
                margin-bottom: 15px;
            }
    
            p {
                margin-bottom: 20px;
            }
        }
    
        &__media {
            top: 35px;
            max-width: 440px;
            right: 10px !important;
        }
    
        .hero-section {  
    
            .hero-text h3{   
                padding: 85px 0; 
            }
        }
    }

    .features-section  {
        padding-bottom: 0 !important;

        .feature-wrapper {

            .feature-heading h2 {
                max-width: 400px;
            }
            
            .feature {
                margin-right: inherit;
                padding: 20px !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;

                img {
                    width: 80% !important;
                }
            }
    
            .feature-one {
                margin-left: auto;
            }
    
            .feature-two {
                margin-left: auto !important;
                margin-right: 43px !important;
            }
    
            .feature-three {
                margin-left: inherit;
            }
        }
    }

    .step-section .step-heading {
        max-width: 571px;
    }

    .team-section .team-header {
        max-width: 532px;
        margin-top: 10px;
    }
    
    .student-review-section .student-review-header {
        max-width: 450px;
    }

    .student-review-section {
        @include CarouselSwiper;
    
        width: 100%;
        padding: 0px 0 0px 0;
        background-color: #F4F4F4;
    
        .student-review-header {
            max-width: 680px;
            margin: 80px auto 50px;
            text-align: center;
        }
    
        .mySwiperTwo {
            margin: 0 auto;
            width: calc(100% - 300px);
    
            .student-review-wrapper {
                width: 100%;
                min-height: 650px;
    
                .student-review {
                    display: flex;
                    z-index: 1111;
                    padding: 20px;
                    min-height: 484px;
                    position: relative; 
                    border-radius: 16px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    max-width: calc(33% - 25px);
                    background-color: transparent;
        
                    .student-img {
                        width: 49px;
                        height: 69px;
                        margin: 18px 0 14px 0px;
                        transition: all 1s ease;
    
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    h6 {
                        font-size: 24px;
                        line-height: 30px;
                    }
    
                    p {
                        font-size: 16px;
                        line-height: 26px;
                        color: $dark_black;
                        padding: 10px 0px 15px 0px;
                    }
        
                    span {
                        color: #6D6E71;
                        font-size: 16px;
                        margin-top: 2px; 
                        line-height: 19px;
                        text-transform: capitalize;
    
                        + span {
                            margin: 0;
                            color: $black;
                            font-weight: 500;
                            padding: 12px 0px;
                        }
                    }
        
                    &:hover {
                        background-color: #fff;
                        filter: drop-shadow(4px 8px 40px rgba(0, 0, 0, 0.04));
    
                        .student-img {
                            width: 106px;
                            height: 114px;
                        }
    
                        ::after {
                            width: 0;
                            height: 0;
                            content: "";
                            left: 36%;
                            z-index: -1;
                            bottom: -10%;
                            display: block;
                            position: absolute;
                            transform: rotate(90deg);
                            transform: translateX(-40%);
                            border-left: 100px solid #fff;
                            border-top: 50px solid transparent;
                            border-bottom: 50px solid transparent;
                        }
                    }
                }
            }
        }
    
        .student-testimonial {
    
            .student-review {
                flex-direction: column !important;
            }
    
            .swiper-pagination {
                bottom: 70px !important;
            }
    
            .student-review {
                display: flex;
                z-index: 1111;
                max-width: 100%;
                position: relative;
                margin-right: 25px;
                border-radius: 16px;
                margin-bottom: 60px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 20px 20px 118px; 
                background-color: transparent;
    
                .text-wrapper {
                    padding: 35px; 
                    max-width: 700px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 20px;
                    background-color: $white;
    
                    &:after {
                        width: 0;
                        height: 0;
                        left: 46%;
                        z-index: -1;
                        content: "";
                        bottom: 75px;
                        display: block;
                        position: absolute;
                        transform: rotate(90deg);
                        border-left: 35px solid #fff;
                        border-top: 25px solid transparent;
                        border-bottom: 25px solid transparent;
                        transform: translateX(-40%) rotate(90deg);
                    }
                }
            }
        }
    }

    .join-area .get-app .get-app-text {
        max-width: 575px !important;
    }

    .join-area .get-app { 
        max-width: 850px; 
    }

    .pricing-section .pricing .pricing-bottom li {
        padding-left: 34px;
    }

    .pricing-section .pricing {
        padding-bottom: 35px;
    }

    .have-question-section .have-question-wrapper .have-question-left .have-question-left-wrapper {
         min-height: inherit;
    }

    .professional-offer-section .professional-offer-context a { 
        margin-left: 13px !important;
    }

    .professional-banner-section .professional-banner-bottom .bottom-content {
        margin-top: 45px;
    }

    .for-student-service-section h2 {
        margin: 0 auto 50px auto;
    }

    .for-student-service-section .student-service-wrapper .student-service h6 {
        font-size: 18px !important; 
        line-height: 30px !important; 
    }

    .faq-section .faq-wrapper .faq .faq-head .faq-icon {
        min-width: 30px;
    }

    .physician-about-section .physician-about-wrapper .physician-about ul li {
        padding: 0; 

        a {
            padding: 10px 12px;
        }
    }

    .physician-about-section .physician-about-wrapper .physician-about .primary_button {
        margin-left: 31px;
    }

    .discount-section {

        .row {
            max-width: 96%;
        }
    }
}

@media screen and (max-width: 1199px) { 

    .student-banner__content {
        padding: 100px 0 130px;
        max-width: 600px !important;
    }

    .student-banner__media { 
        max-width: 350px; 
    }

}

@media screen and (max-width: 991px) { 

    .student-banner__content {
        padding: 80px 0 30px; 
        max-width: 557px !important;
    }

    .student-banner__media { 
        max-width: 350px; 
        position: inherit;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 80px;
    }

    .step-section .step-heading {
        margin: 20px auto 25px auto;
    }

    .contact-us-section .container { 
        padding: 80px 15px;
    }
    
    .contact-us-section .contact-us-wrapper .contact-us-form form {
        margin: 40px auto 0 !important;
    }

    .blog-details-section {
        padding: 70px 0px;
    }

    .blog-details-section .blog-details-area .blog-post-items .blog-details-wrapper .post-comment-wrapper {
        margin-bottom: 65px;
    }

    .blog-details-section .blog-details-area .blog-post-items .blog-details-wrapper .blog-comment { 
        margin: 0 auto 35px auto;
    }

    .blog-details-section .blog-details-area .blog-post-items .blog-details-wrapper article .postbox__text .blog-extra {
        margin: 60px auto 80px auto;
    }
}

@media screen and (max-width: 767px) { 

    .features-section .feature-wrapper .feature { 
        width: 100% !important; 
        margin-left: auto !important;
        margin-right: auto !important;
    }

    
    .join-area .get-app { 
        gap: 80px 0;
        justify-items: center;
        grid-template-columns: 1fr !important; 
    }

    .join-area .get-app .get-app-text {
        position: inherit;
    }

    .join-area .get-app .get-app-img {
        margin-left: auto;
        margin-right: auto;
    }

    .newsletter-section .subscribe-area { 
        padding-top: 0; 
    }

    .newsletter-section {
        padding: 0 0px 70px;
    }

    .student-banner__content {
        max-width: 471px !important;
    }

    .about-service-section .container .row {
        flex-direction: column-reverse;
    }

    .about-service-section .about-service-wrapper .about-service-two {
        padding-top: 80px;
    }

    .about-service-section .about-service-wrapper .about-service-img {
        padding-bottom: 150px;
    }

    .about-service-section {
        padding-top: 60px !important;
    }

    .about-service-section .about-service-wrapper .about-service-img .top-img {
        right: -6%;
        bottom: 8%;
    }
}

@media screen and (max-width: 575px) { 

    .team-section .swiper-pagination {
        bottom: 10px !important;
    }

    .join-area .get-app { 
        padding: 50px 0;
        gap: 40px 0 !important;
        max-height: inherit !important;
        justify-items: center !important;
        grid-template-columns: 1fr !important; 
    }

    .join-area .get-app .get-app-text {
        left: inherit;
        margin-top: 0;
        position: inherit;
        transform: inherit;
        padding-left: inherit;

        h2 {
            padding: 0px 24px;
        }

        .img-group {
            align-items: center;
        }
    }

    .student-review-section { 
        height: inherit;  
        margin-top: 50px !important;
    }

    .student-review-section .student-review-header {
        margin: 50px auto 30px; 
    }

    .student-review-section .student-testimonial .student-review {
        margin-bottom: 28px;
        padding-bottom: 104px;
    }

    .student-review-section .student-testimonial .student-review .text-wrapper:after {
        bottom: 61px; 
    }

    .student-review-section .student-testimonial .swiper-pagination {
        bottom: 44px !important;
    }

    .newsletter-section {
        padding: 0 0px 10px;
    }

    .have-question-section .have-question-wrapper .have-question-left .have-question-left-wrapper h2 { 
        margin-left: auto;
        margin-right: auto;
        padding: 15px 24px 30px 24px;
    }

    .student-banner__content {
        padding-top: 30px;
        padding-left: 24px;
        padding-right: 24px;

        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
 
    .features-section {
        padding-left: 24px;
        padding-right: 24px;
    }

    .spellon-professional-page.img-group {
        gap: 10px;
        display: flex;
        padding: 0 24px;

        a {

            img {
                max-width: 100%;
            }
        }
    }

    .join-area .get-app-text h2 {
        text-align: center;
        padding: 0px 24px;
    }

    .discount-section .discount-content  {
        margin-bottom: 30px;

        .discount-list ul li a {
            font-size: 24px; 
            line-height: 32px; 
            padding: 20px 25px; 
        }
    }
    
    .blog-details-section .blog-details-area .blog-post-items .blog-details-wrapper article .postbox__text .post-meta {
        padding: 25px 0 16px 0;
    }
}

@media screen and (max-width: 480px) {

    .student-banner__content h1 {
        max-width: 325px;
    }
 }

.header-area .header-top .navbar .navbar-right .main-menu ul {
    margin-bottom: 0;
}