.what-you-get-section {
    padding: 110px 0px;
    background: #F4F4F4;

    .container {
        max-width: 1400px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        margin: 0px auto 65px auto;
    }

    .what-you-get-wrapper {
        width: 80%;
        margin: -15px auto;

        .what-you-get {
            width: 333px;
            min-height: 270px;
            background-color: #fff;
            border-radius: 16px;
            display: flex;
            flex-direction: column; 
            align-items: center;
            margin: 20px auto;
            padding: 15px;
            text-align: center;

            img {
                width: 54px;
                height: 54px;
                margin: 15px 0px;
            }

            h6 { 
                padding: 15px 0px; 
            }
        }
    }
}